<p id="notice"><%= notice %></p>

<h1>Rooms</h1>
<div class="js-online-users text-success online">
  Online: <% @users.map do |user| %>
    <%= user.nickname %>
<% end %>
</div>

<ul class="mt-4 list-unstyled">
  <%= render @rooms %>
</ul>

<div class="mt-2">
  <%= render 'rooms/form', room: @room %>
</div>
